<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore >
      <linkManager>
          <providers>
              <add name="sitecore" set:type="Sitecore.Support.Links.LinkProvider, Sitecore.Support.383553" />
          </providers>
      </linkManager>
  </sitecore>
</configuration>